<style>
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }
</style>

<script type="javascript">
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    })
</script>
<div class="container" style="margin-top:30px" ng-controller="MyDecriptionController" ng-init="init()">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>My Decriptions</strong>
                </h3>

            </div>
            <div class="panel-body">

                <div ng-repeat="dec in decriptions" class="panel panel-primary" style="margin-top:20px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{dec.name}} - {{dec.created}}</h3>

                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div style="margin-top: 20px;">
                            <ul style="list-style-type: none;">
                                <li style="float: left;margin-right: 30px;" ng-repeat="image in dec.images">
                                    <img ng-src="{{image}}" title="" class="thumbnail"
                                         style="width: 150px; height: 150px;">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>

</div>
